### Solución Tarea 1

In [1]:
# Importar paquetes
import pandas as pd
import numpy as np
import os
from sklearn import svm
from sklearn.datasets import load_breast_cancer

# Configuración para mostrar todas las columnas
pd.set_option('display.max_columns', None)

In [2]:
print(os.getcwd())

d:\A_UNAD\CURSOS\2024\002_PROGRAMACION_DA\Tarea1

#### Ejercicio 1

Poner texto ejercicio 1....

In [3]:
# ruta = os.path.join("Anexo 1 - Base de Datos EXCEL.xlsx")
df1 = pd.read_excel("Anexo 1 - Base de Datos EXCEL.xlsx", skiprows = 3, sheet_name = "BASE DE DATOS")

In [4]:
df1.head()

,Servicio,Empresa,Turno,Día de la semana,Experiencia del conductor,Formación del Paramédico,Nivel del Paramédico,Cantidad de atenciones,Distancia recorrida (Km),Velocidad máxima (Km/h),Consumo de combustible (Galones),Tiempo en Movimiento (h),Tiempo motor ON (h)
0,1,TAC,D,5,Principiante,4,I,8,78.4,82,3.1,2.8,3.08
1,2,TAD,N,4,Principiante,3,B,5,46.2,89,1.9,2.1,2.31
2,3,TAB,N,4,Experto,4,B,6,62.4,99,2.5,2.6,4.68
3,4,TAB,D,2,Intermedio,3,B,7,70.2,95,3.0,2.6,3.12
4,5,TAC,N,7,Principiante,2,I,8,75.6,87,2.8,2.8,3.64

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Servicio                          2200 non-null   int64
 1   Empresa                           2200 non-null   object
 2   Turno                             2200 non-null   object
 3   Día de la semana                  2200 non-null   int64
 4   Experiencia del conductor         2200 non-null   object
 5   Formación del Paramédico          2200 non-null   int64
 6   Nivel del Paramédico              2200 non-null   object
 7   Cantidad de atenciones            2200 non-null   int64
 8   Distancia recorrida (Km)          2200 non-null   float64
 9   Velocidad máxima (Km/h)           2200 non-null   int64
 10  Consumo de combustible (Galones)  2200 non-null   float64
 11  Tiempo en Movimiento (h)          2200 non-null   float64
 12  Tiempo motor ON (h)               2200 non-null   float64
dtypes: float64(4), int64(5), object(4)
memory usage: 223.6+ KB

### Ejercicio 2

Imprimimos versión de python

```python
print(python.__version__)
```

In [6]:
data = load_breast_cancer()
X = data.data
y = data.target

In [10]:
print(type(X))
print(type(y))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [11]:
X = pd.DataFrame(X)
y = pd.DataFrame(y)

In [12]:
y.head()

   0
0  0
1  0
2  0
3  0
4  0

In [13]:
X.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,1.0950,0.9053,8.589,153.40,0.006399,0.04904,0.05373,0.01587,0.03003,0.006193,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,0.5435,0.7339,3.398,74.08,0.005225,0.01308,0.01860,0.01340,0.01389,0.003532,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,0.7456,0.7869,4.585,94.03,0.006150,0.04006,0.03832,0.02058,0.02250,0.004571,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,0.4956,1.1560,3.445,27.23,0.009110,0.07458,0.05661,0.01867,0.05963,0.009208,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,0.7572,0.7813,5.438,94.44,0.011490,0.02461,0.05688,0.01885,0.01756,0.005115,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678